<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pro05</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 브라우저에서 요청하는 매핑 이름에 대해 실제로 실행하는 서블릿 클래스를 설정하는 태그 -->
  <servlet>
  	<!-- <servlet-mapping>의 <servlet-name>태그와 값이 동일 -->
  	<servlet-name>aaa</servlet-name>
  	<!-- 브라우저에서 요청하는 매핑 이름에대해 실제로 기능을 수행하는 스빌릿 클래스를 설정 -->
  	<servlet-class>sec01.ex01.FirstServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>aaa</servlet-name>
  	<!-- 브라우저에서 sec01.ex01.FirstServlet을 요청하는 논리적인 서블릿 이름 -->
  	<url-pattern>/first</url-pattern>
  </servlet-mapping>
</web-app>